# Préparation des variables pour les variables d'activités

In [15]:
library(tidyverse)
library(factoextra)

# Charger les données
DataPilot <- readRDS("../../_PrivateFolder_datagotchi_federal_2025/data/clustering/can2025/01_pilot_2025.rds")

# Charger le fichier des variables
source("01-1_variables.R")

# Préparation du jeu de données pour les variables d'activités
df_act <- DataPilot %>%
  select(all_of(variables_act))

In [17]:
# Boucle pour afficher la table pour chaque variable
for (v in variables_act) {
  if (v != "id") {
    cat("Table pour la variable:", v, "\n")
    print(table(df_act[[v]]))
    cat("\n\n")
  }
}

Table pour la variable: lifestyle_exerciseGym

   0    1
1316  260


Table pour la variable: lifestyle_exerciseTeamSport

   0    1
1474  102


Table pour la variable: lifestyle_exerciseWalk

  0   1
803 773


Table pour la variable: lifestyle_exerciseRun

   0    1
1500   76


Table pour la variable: lifestyle_exerciseYoga

   0    1
1534   42


Table pour la variable: lifestyle_exerciseSwim

   0    1
1547   29


Table pour la variable: lifestyle_exerciseOther

   0    1
1428  148


Table pour la variable: lifestyle_exerciseNone

   0    1
1430  146


Table pour la variable: lifestyle_goFishingFreq

  1   2   3   4   5
873 310 286  67  33


Table pour la variable: lifestyle_goHuntingFreq

   1    2    3    4    5
1282  148   90   37   12


Table pour la variable: lifestyle_goMuseumsFreq

  1   2   3   4   5
331 412 659 131  36


Table pour la variable: lifestyle_motorizedActFreq

  1   2   3   4   5
903 318 229  82  37


Table pour la variable: lifestyle_volunteeringFreq

  1   2   3   4   5
432 395 448 183 111

### Transformations

Transformer les variables ordinales pour un regroupement avec des sous-groupes de cardinalité plus adéquate pour
la représentativité de la population.

Les variables ordinales dénotent une intensité d'opinion (0, 0.25, 0.5, 0.75, 1)

Comme les 1 sont peu nombreux, il semble avantageux de transformer les variables en 0, 0.5 et 1 où

- 0.25 est intégré à 0.5
- 0.75 est intégré à 1

In [19]:
# S'assurer que les variables ont le bon type
df_act$lifestyle_exerciseGym <- as.numeric(df_act$lifestyle_exerciseGym)
df_act$lifestyle_exerciseTeamSport <- as.numeric(df_act$lifestyle_exerciseTeamSport)
df_act$lifestyle_exerciseWalk <- as.numeric(df_act$lifestyle_exerciseWalk)
df_act$lifestyle_exerciseRun <- as.numeric(df_act$lifestyle_exerciseRun)
df_act$lifestyle_exerciseYoga <- as.numeric(df_act$lifestyle_exerciseYoga)
df_act$lifestyle_exerciseSwim <- as.numeric(df_act$lifestyle_exerciseSwim)
df_act$lifestyle_exerciseOther <- as.numeric(df_act$lifestyle_exerciseOther)
df_act$lifestyle_exerciseNone <- as.numeric(df_act$lifestyle_exerciseNone)

In [20]:
df_act$lifestyle_goFishingFreq <- ifelse(df_act$lifestyle_goFishingFreq == 0.25, 0.5,
  ifelse(df_act$lifestyle_goFishingFreq == 0.75, 1, df_act$lifestyle_goFishingFreq))
df_act$lifestyle_goHuntingFreq <- ifelse(df_act$lifestyle_goHuntingFreq == 0.25, 0.5,
  ifelse(df_act$lifestyle_goHuntingFreq == 0.75, 1, df_act$lifestyle_goHuntingFreq))
df_act$lifestyle_goMuseumsFreq <- ifelse(df_act$lifestyle_goMuseumsFreq == 0.25, 0.5,
  ifelse(df_act$lifestyle_goMuseumsFreq == 0.75, 1, df_act$lifestyle_goMuseumsFreq))
df_act$lifestyle_motorizedActFreq <- ifelse(df_act$lifestyle_motorizedActFreq == 0.25, 0.5,
  ifelse(df_act$lifestyle_motorizedActFreq == 0.75, 1, df_act$lifestyle_motorizedActFreq))
df_act$lifestyle_volunteeringFreq <- ifelse(df_act$lifestyle_volunteeringFreq == 0.25, 0.5,
  ifelse(df_act$lifestyle_volunteeringFreq == 0.75, 1, df_act$lifestyle_volunteeringFreq))

In [21]:
str(df_act)

'data.frame':	3318 obs. of  14 variables:
 $ id                         : int  1 2 3 4 5 6 7 8 9 10 ...
 $ lifestyle_exerciseGym      : num  0 0 0 1 0 0 0 0 1 0 ...
 $ lifestyle_exerciseTeamSport: num  0 0 0 0 0 0 0 0 0 0 ...
 $ lifestyle_exerciseWalk     : num  1 1 0 0 0 0 1 1 0 1 ...
 $ lifestyle_exerciseRun      : num  0 0 1 0 0 0 0 0 0 0 ...
 $ lifestyle_exerciseYoga     : num  0 0 0 0 0 0 0 0 0 0 ...
 $ lifestyle_exerciseSwim     : num  0 0 0 0 0 0 0 0 0 0 ...
 $ lifestyle_exerciseOther    : num  0 0 0 0 0 0 0 0 0 0 ...
 $ lifestyle_exerciseNone     : num  0 0 0 0 1 1 0 0 0 0 ...
 $ lifestyle_goFishingFreq    : num  2 1 2 1 1 1 1 3 2 3 ...
 $ lifestyle_goHuntingFreq    : num  1 1 2 1 1 1 1 1 1 1 ...
 $ lifestyle_goMuseumsFreq    : num  2 3 1 3 1 1 2 3 3 3 ...
 $ lifestyle_motorizedActFreq : num  1 1 5 2 2 1 1 3 1 1 ...
 $ lifestyle_volunteeringFreq : num  3 2 2 2 1 1 2 2 1 3 ...

In [22]:
variables_act_clust <- c(
  "id",
  "lifestyle_exerciseGym",
  "lifestyle_exerciseTeamSport",
  "lifestyle_exerciseWalk",
  "lifestyle_exerciseRun",
  "lifestyle_exerciseYoga",
  "lifestyle_exerciseSwim",
  "lifestyle_exerciseOther",
  "lifestyle_exerciseNone",
  "lifestyle_goFishingFreq",
  "lifestyle_goHuntingFreq",
  "lifestyle_goMuseumsFreq",
  "lifestyle_motorizedActFreq",
  "lifestyle_volunteeringFreq"
)

In [23]:
# Boucle pour afficher la table pour chaque variable
for (v in variables_act_clust) {
  if (v != "id") {
    cat("Table pour la variable:", v, "\n")
    print(table(df_act[[v]]))
    cat("\n\n")
  }
}

Table pour la variable: lifestyle_exerciseGym

   0    1
1316  260


Table pour la variable: lifestyle_exerciseTeamSport

   0    1
1474  102


Table pour la variable: lifestyle_exerciseWalk

  0   1
803 773


Table pour la variable: lifestyle_exerciseRun

   0    1
1500   76


Table pour la variable: lifestyle_exerciseYoga

   0    1
1534   42


Table pour la variable: lifestyle_exerciseSwim

   0    1
1547   29


Table pour la variable: lifestyle_exerciseOther

   0    1
1428  148


Table pour la variable: lifestyle_exerciseNone

   0    1
1430  146


Table pour la variable: lifestyle_goFishingFreq

  1   2   3   4   5
873 310 286  67  33


Table pour la variable: lifestyle_goHuntingFreq

   1    2    3    4    5
1282  148   90   37   12


Table pour la variable: lifestyle_goMuseumsFreq

  1   2   3   4   5
331 412 659 131  36


Table pour la variable: lifestyle_motorizedActFreq

  1   2   3   4   5
903 318 229  82  37


Table pour la variable: lifestyle_volunteeringFreq

  1   2   3   4   5
432 395 448 183 111

In [24]:
# Sauvegarder les données préparées
saveRDS(df_act, file = "../../_PrivateFolder_datagotchi_federal_2025/data/clustering/can2025/02_pilot_2025_act.rds")

---

# SUGGESTION : Activité de Clustering

Si souhaité, effectuer un exercice de clustering avec ce sous-groupe de variables pour mieux saisir les données et leur relation. 

Cet exercice est purement exploratoire et sert à voir si les données peuvent être utilisées pour faire du clustering.