# Préparation des variables de mode de vie

In [19]:
library(tidyverse)
library(factoextra)

# Charger les données
DataPilot <- readRDS("../../_PrivateFolder_datagotchi_federal_2025/data/clustering/can2025/01_pilot_2025.rds")

# Charger le fichier des variables
source("01-1_variables.R")

df_mode_de_vie <- DataPilot %>%
  select(all_of(variables_mode_de_vie))

In [20]:
library(dplyr)

df_mode_de_vie %>%
  select(starts_with("lifestyle_typeTransport")) %>%
  summarise(across(everything(), \(x) sum(x, na.rm = TRUE)))
#  summarise(across(everything(), sum, na.rm = TRUE))

  lifestyle_typeTransportCar lifestyle_typeTransportSUV
1 603                        205
  lifestyle_typeTransportMoto lifestyle_typeTransportWalk
1 6                           91
  lifestyle_typeTransportBicycle lifestyle_typeTransportPublicTransit
1 11                             112

In [21]:
# Boucle pour afficher la table pour chaque variable
for (v in variables_mode_de_vie) {
  if (v != "id") {
    cat("Table pour la variable:", v, "\n")
    print(table(df_mode_de_vie[[v]]))
    cat("\n\n")
  }
}

Table pour la variable: ses_dwellingApp

  0   1
890 142


Table pour la variable: ses_dwellingLoft

   0    1
1023    9


Table pour la variable: ses_dwellingCondo

  0   1
935  97


Table pour la variable: ses_dwellingTour

  0   1
977  55


Table pour la variable: ses_dwellingDetachedHouse

  0   1
495 537


Table pour la variable: ses_dwellingTownhouse

  0   1
951  81


Table pour la variable: ses_dwellingDuplex

  0   1
978  54


Table pour la variable: ses_dwellingCoop

   0    1
1024    8


Table pour la variable: ses_dwellingHLM

   0    1
1024    8


Table pour la variable: ses_dwellingMobile

   0    1
1022   10


Table pour la variable: ses_dwellingOther

   0    1
1001   31


Table pour la variable: lifestyle_typeTransportCar

  0   1
429 603


Table pour la variable: lifestyle_typeTransportSUV

  0   1
827 205


Table pour la variable: lifestyle_typeTransportMoto

   0    1
1026    6


Table pour la variable: lifestyle_typeTransportWalk

  0   1
941  91


Table pour la variable: lifestyle_typeTransportBicycle

   0    1
1021   11


Table pour la variable: lifestyle_typeTransportPublicTransit

  0   1
920 112

### Transformations

- Regroupement de ses_dwelling
  - ses_dwellingCondo : ses_dwellingCondo + ses_dwellingLoft + ses_dwellingTour
  - ses_dwellingOther : ses_dwellingOther + ses_dwellingCoop + ses_dwellingHLM + ses_dwellingMobile

- Regroupement des act_transport
  - lifestyle_typeTransportCar : lifestyle_typeTransportCar + lifestyle_typeTransportMoto (parce qu'il y avraiment trop peu de moto, assigner la classe la plus populeuse)
  - lifestyle_typeTransportActive:   lifestyle_typeTransportWalk + lifestyle_typeTransportBicycle
  - Les autres ne sont pas regroupés

In [22]:
# Regroupement de ses_dwelling
#-----------------------------

df_mode_de_vie <- df_mode_de_vie %>%

  mutate(
    ses_dwellingCondo = if_else(
      ses_dwellingLoft == 1 | ses_dwellingTour == 1,
      1,
      ses_dwellingCondo
    ),
    ses_dwellingOther = if_else(
      ses_dwellingCoop == 1 | ses_dwellingHLM == 1 | ses_dwellingMobile == 1,
      1,
      ses_dwellingOther
    )
  ) %>%
  select(
    -ses_dwellingLoft,
    -ses_dwellingTour,
    -ses_dwellingCoop,
    -ses_dwellingHLM,
    -ses_dwellingMobile
  )

In [24]:
# Regroupement de act_transport
#------------------------------

df_mode_de_vie <- df_mode_de_vie %>%
  mutate(
    lifestyle_typeTransportCar = if_else(
      lifestyle_typeTransportMoto == 1,
      1,
      lifestyle_typeTransportCar
    ),
    lifestyle_typeTransportActive = if_else(
      lifestyle_typeTransportWalk == 1 | lifestyle_typeTransportBicycle == 1,
      1,
      0
    )
  ) %>%
  select(
    -lifestyle_typeTransportMoto,
    -lifestyle_typeTransportWalk,
    -lifestyle_typeTransportBicycle)

In [25]:
variables_mode_de_vie_clust <- c(
  "id",
  #"postal_code", # À transformer en rural, urbain, région, banlieue
  "ses_dwellingApp",
  "ses_dwellingCondo",
  "ses_dwellingDetachedHouse",
  "ses_dwellingTownhouse",
  "ses_dwellingDuplex",
  "ses_dwellingOther",
  "lifestyle_typeTransportCar",
  "lifestyle_typeTransportSUV",
  "lifestyle_typeTransportActive",
  "lifestyle_typeTransportPublicTransit"
)

In [26]:
# Boucle pour afficher la table pour chaque variable
for (v in variables_mode_de_vie_clust) {
  if (v != "id") {
    cat("Table pour la variable:", v, "\n")
    print(table(df_mode_de_vie[[v]]))
    cat("\n\n")
  }
}

Table pour la variable: ses_dwellingApp

  0   1
890 142


Table pour la variable: ses_dwellingCondo

  0   1
871 161


Table pour la variable: ses_dwellingDetachedHouse

  0   1
495 537


Table pour la variable: ses_dwellingTownhouse

  0   1
951  81


Table pour la variable: ses_dwellingDuplex

  0   1
978  54


Table pour la variable: ses_dwellingOther

  0   1
975  57


Table pour la variable: lifestyle_typeTransportCar

  0   1
423 609


Table pour la variable: lifestyle_typeTransportSUV

  0   1
827 205


Table pour la variable: lifestyle_typeTransportActive

  0   1
930 102


Table pour la variable: lifestyle_typeTransportPublicTransit

  0   1
920 112

In [27]:
# Sauvegarder les données préparées
saveRDS(df_mode_de_vie, file = "../../_PrivateFolder_datagotchi_federal_2025/data/clustering/can2025/02_pilot_2025_mode_de_vie.rds")

---

# SUGGESTION : Activité de Clustering

Si souhaité, effectuer un exercice de clustering avec ce sous-groupe de variables pour mieux saisir les données et leur relation. 

Cet exercice est purement exploratoire et sert à voir si les données peuvent être utilisées pour faire du clustering.